# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
# cmake
numpy
pandas
keras
scikit-learn
tensorflow-cpu
keras
fastapi
Pillow
face_recognition
uvicorn
python-multipart

# tensorflow-cpu dependencies
h5py~=3.1.0
six~=1.15.0

# # tests/linter
# black
# coverage
# flake8
# pytest
# yapf

# # API
# gcsfs
# google-cloud-storage
# mlflow
# s3fs

# utilities

joblib
memoized-property
termcolor
