
pip>=9
setuptools>=26
twine
wheel>=0.29

numpy


scikit-learn
tensorflow-cpu
keras
fastapi
Pillow
face_recognition
uvicorn
python-multipart

h5py~=3.1.0
six~=1.15.0

joblib
memoized-property
termcolor
